# Python / Flask (Backend)
__pycache__/
*.py[cod]
*.sqlite3
*.env
*.log

# Virtual Environments
venv/
backend/venv/

# Flask instance & migrations
backend/instance/
backend/*.sqlite3

# PyCharm project files
backend/.idea/

# React / Vite (Frontend)
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/.vite/
frontend/*.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor / IDE files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
